{% block adyen_giftcards %}
    {% if adyenFrontendData and adyenFrontendData.giftcards %}
        <div id="adyen-giftcards-container">
            <div id="adyen-giftcards-configuration"
                 data-giftcards="{{ adyenFrontendData.giftcards|json_encode }}"
                 data-total-price="{{ adyenFrontendData.totalPrice }}"
                 data-currency="{{ adyenFrontendData.currency }}"
                 data-check-balance-url="{{ adyenFrontendData.checkBalanceUrl }}"
                 data-create-order-url="{{ adyenFrontendData.createOrderUrl }}"
                 data-cancel-order-url="{{ adyenFrontendData.cancelOrderUrl }}"
            ></div>
            <script>var adyenGiftcardsConfiguration = document.querySelector('#adyen-giftcards-configuration').dataset;</script>
            <hr>
            {# loop through giftcards and display logo #}
            {% for giftcard in adyenFrontendData.giftcards %}
                <span style="cursor: pointer"
                      class="adyen-giftcard"
                      data-giftcard="{{ giftcard.extensions.adyenGiftcardData|json_encode }}">
                    {% if giftcard.media %}
                        {% sw_thumbnails 'payment-method-image-thumbnails' with {
                            media: giftcard.media,
                            attributes: {
                                'alt': (giftcard.media.translated.alt ?: giftcard.translated.name),
                                'title': (giftcard.media.translated.title ?: giftcard.translated.name)
                            }
                        } %}
                    {% endif %}
                </span>
            {% endfor %}
            <div class="clearfix"></div>
            <span
                class="adyen-close-giftcard-component"
                title="Close giftcard">&times;</span>
            <h6 class="adyen-giftcard-header">&nbsp;</h6>
            <div id="adyen-giftcard-component"></div>
            <hr>
        </div>

    {% endif %}
{% endblock %}
