{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_inner %}
    {{ parent() }}
    {% set adyenFrontendData = page.extensions[constant('Adyen\\Shopware\\Subscriber\\PaymentSubscriber::ADYEN_DATA_EXTENSION_ID')] %}
    {% if adyenFrontendData and adyenFrontendData.paymentStatusUrl %}
        <div id="adyen-checkout-options"
             data-language-id="{{ adyenFrontendData.languageId }}"
             data-payment-status-url="{{ adyenFrontendData.paymentStatusUrl }}"
             data-checkout-order-url="{{ adyenFrontendData.checkoutOrderUrl }}"
             data-payment-handle-url="{{ adyenFrontendData.paymentHandleUrl }}"
             data-payment-details-url="{{ adyenFrontendData.paymentDetailsUrl }}"
             data-payment-finish-url="{{ adyenFrontendData.paymentFinishUrl }}"
             data-payment-error-url="{{ adyenFrontendData.paymentErrorUrl }}"
             data-edit-payment-url="{{ adyenFrontendData.editPaymentUrl }}"
             data-state-data-url="{{ adyenFrontendData.stateDataUrl }}"
             data-cart-url="{{ adyenFrontendData.cartUrl }}"
             data-order-id="{{ adyenFrontendData.orderId }}"
             data-currency="{{ adyenFrontendData.currency }}"
             data-statedata-payment-method="{{ adyenFrontendData.stateDataPaymentMethod }}"
             data-adyen-plugin-id="{{ adyenFrontendData.pluginId }}"
             data-selected-payment-method-handler="{{ adyenFrontendData.selectedPaymentMethodHandler }}"
             data-selected-payment-method-plugin-id="{{ adyenFrontendData.selectedPaymentMethodPluginId }}"
        >
        </div>
        <script>
            var adyenCheckoutOptions = document.querySelector('#adyen-checkout-options').dataset;
        </script>
    {% endif %}
{% endblock %}
