{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% set adyenFrontendData = page.extensions[constant('Adyen\\Shopware\\Subscriber\\StorefrontSubscriber::ADYEN_DATA_EXTENSION_ID')] %}

{% block page_checkout_confirm_payment_inner %}
    {{ parent() }}

    {% sw_include '@AdyenPaymentShopware6/storefront/component/adyencheckout.html.twig' %}

    {% block page_checkout_confirm_payment_inner_adyen %}
        {% set billingAddress = context.customer.activeBillingAddress %}
        {% set shippingAddress = context.customer.activeShippingAddress %}
        {% if billingAddress and shippingAddress %}
            <div id="shopper-details"
                 data-first-name="{{ billingAddress.firstName }}"
                 data-last-name="{{ billingAddress.lastName }}"
                 data-shopper-email="{{ context.customer.email }}"
            ></div>
            <div id="active-billing-address"
                data-street="{{ adyenFrontendData.billingAddressStreetHouse.street }}"
                data-house-number-or-name="{{ adyenFrontendData.billingAddressStreetHouse.houseNumber }}"
                data-city="{{ billingAddress.city }}"
                data-postal-code="{{ billingAddress.zipcode }}"
                data-country="{{ billingAddress.country.iso }}"
                data-phone-number="{{ billingAddress.phoneNumber }}"
            ></div>
            <div id="active-shipping-address"
                data-street="{{ adyenFrontendData.shippingAddressStreetHouse.street }}"
                data-house-number-or-name="{{ adyenFrontendData.shippingAddressStreetHouse.houseNumber }}"
                data-city="{{ shippingAddress.city }}"
                data-postal-code="{{ shippingAddress.zipcode }}"
                data-country="{{ shippingAddress.country.iso }}"
                data-phone-number="{{ shippingAddress.phoneNumber }}"
            ></div>
            <script {% if app.request.attributes.get('_cspNonce') %} nonce="{{ app.request.attributes.get('_cspNonce') }}" {% endif %}>
                var shopperDetails = document.querySelector('#shopper-details').dataset;
                var activeBillingAddress = document.querySelector('#active-billing-address').dataset;
                var activeShippingAddress = document.querySelector('#active-shipping-address').dataset;
            </script>
        {% endif %}
        {% if adyenFrontendData and adyenFrontendData.paymentStatusUrl and adyenFrontendData.paymentMethodsResponse %}
            <div id="adyen-checkout-options"
                 data-payment-methods-response="{{ adyenFrontendData.paymentMethodsResponse }}"
                 data-language-id="{{ adyenFrontendData.languageId }}"
                 data-payment-status-url="{{ adyenFrontendData.paymentStatusUrl }}"
                 data-checkout-order-url="{{ adyenFrontendData.checkoutOrderUrl }}"
                 data-payment-handle-url="{{ adyenFrontendData.paymentHandleUrl }}"
                 data-payment-details-url="{{ adyenFrontendData.paymentDetailsUrl }}"
                 data-payment-finish-url="{{ adyenFrontendData.paymentFinishUrl }}"
                 data-payment-error-url="{{ adyenFrontendData.paymentErrorUrl }}"
                 data-update-payment-url="{{ adyenFrontendData.updatePaymentUrl }}"
                 data-cancel-order-transaction-url="{{ adyenFrontendData.cancelOrderTransactionUrl }}"
                 data-order-id="{{ adyenFrontendData.orderId }}"
                 data-currency="{{ adyenFrontendData.currency }}"
                 data-amount="{{ adyenFrontendData.amount }}"
                 data-total-price="{{ adyenFrontendData.totalPrice }}"
                 data-giftcard-discount="{{ adyenFrontendData.giftcardDiscount }}"
                 data-currency-symbol="{{ adyenFrontendData.currencySymbol }}"
                 data-pay-in-full-with-giftcard="{{ adyenFrontendData.payInFullWithGiftcard }}"
                 data-adyen-plugin-id="{{ adyenFrontendData.pluginId }}"
                 data-adyen-giftcard-selected="{{ adyenFrontendData.adyenGiftcardSelected }}"
                 data-selected-payment-method-handler="{{ adyenFrontendData.selectedPaymentMethodHandler }}"
                 data-selected-payment-method-plugin-id="{{ adyenFrontendData.selectedPaymentMethodPluginId }}"
                 data-display-save-credit-card-option="{{ adyenFrontendData.displaySaveCreditCardOption }}"
                 data-affiliate-code="{{ adyenFrontendData.affiliateCode }}"
                 data-campaign-code="{{ adyenFrontendData.campaignCode }}"
                 data-translation-adyen-giftcard-discount="{{ "adyen.giftcard.discount" | trans }}"
                 data-translation-adyen-giftcard-remaining-amount="{{ "adyen.giftcard.remainingAmount" | trans }}"
                 data-google-merchant-id="{{ adyenFrontendData.googleMerchantId }}"
                 data-gateway-merchant-id="{{ adyenFrontendData.gatewayMerchantId }}"
                 data-paypal-order-url="{{ adyenFrontendData.paypalOrderUrl }}"
            >
            </div>
            <script {% if app.request.attributes.get('_cspNonce') %} nonce="{{ app.request.attributes.get('_cspNonce') }}" {% endif %}>
                var adyenCheckoutOptions = document.querySelector('#adyen-checkout-options').dataset;
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
