{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}
{% set adyenFrontendData = page.extensions[constant('Adyen\\Shopware\\Subscriber\\StorefrontSubscriber::ADYEN_DATA_EXTENSION_ID')] %}

{% block page_checkout_cart_add_promotion %}
    {{ parent() }}

    {% sw_include '@AdyenPaymentShopware6/storefront/component/adyencheckout.html.twig' %}
    {% sw_include '@AdyenPaymentShopware6/storefront/component/checkout/cart/giftcards.html.twig' %}
{% endblock %}

{% block page_checkout_cart_action_proceed %}
    {{ parent() }}
    {% if adyenFrontendData.expressCheckoutConfigurationAvailable %}
        {% sw_include '@AdyenPaymentShopware6/storefront/component/adyencheckout.html.twig' %}
        {% sw_include '@AdyenPaymentShopware6/storefront/component/checkout/expresscheckout.html.twig' %}
    {% endif %}
{% endblock %}

{% block page_checkout_aside %}
    <div class="checkout-aside">
        {% if adyenFrontendData.voucherBlockPosition === "aboveOrderTotals" %}
            {{ block('page_checkout_aside_actions') }}
            {{ block('page_checkout_aside_summary') }}
        {% else %}
            {{ block('page_checkout_aside_summary') }}
            {{ block('page_checkout_aside_actions') }}
        {% endif %}
    </div>
{% endblock %}