{% set adyenFrontendData = page.extensions[constant('Adyen\\Shopware\\Subscriber\\PostPaymentSubscriber::ADYEN_DATA_EXTENSION_ID')] %}

{% if adyenFrontendData and adyenFrontendData.locale and adyenFrontendData.clientKey and adyenFrontendData.environment and adyenFrontendData.givingEnabled %}
    <div id="adyen-giving-container">
        <div id="adyen-giving-configuration"
             data-locale="{{ adyenFrontendData.locale }}"
             data-client-key="{{ adyenFrontendData.clientKey }}"
             data-environment="{{ adyenFrontendData.environment }}"
             data-currency="{{ adyenFrontendData.currency }}"
             data-values="{{ adyenFrontendData.values }}"
             data-background-url="{{ adyenFrontendData.backgroundUrl }}"
             data-logo-url="{{ adyenFrontendData.logoUrl }}"
             data-description="{{ adyenFrontendData.description }}"
             data-name="{{ adyenFrontendData.name }}"
             data-charity-url="{{ adyenFrontendData.charityUrl }}"
             data-order-id="{{ adyenFrontendData.orderId }}"
             data-donation-endpoint-url="{{ adyenFrontendData.donationEndpointUrl }}"
             data-continue-action-url="{{ adyenFrontendData.continueActionUrl }}"
        ></div>

        <div id='donation-container'></div>

        <script>
            var adyenGivingConfiguration = document.querySelector('#adyen-giving-configuration').dataset;
        </script>
    </div>
{% endif %}
