{% block adyen_checkout %}
    {% if adyenFrontendData and adyenFrontendData.locale and adyenFrontendData.clientKey and adyenFrontendData.environment %}
        <div id="adyen-checkout-configuration"
             data-locale="{{ adyenFrontendData.locale }}"
             data-client-key="{{ adyenFrontendData.clientKey }}"
             data-environment="{{ adyenFrontendData.environment }}"
             data-merchant-account="{{ adyenFrontendData.merchantAccount }}"
        ></div>
        {# Load checkout web component (Corresponding version number can be found on release notes.) #}
        <link rel="stylesheet" href="{{ asset('bundles/adyenpaymentshopware6/css/adyen.css', 'asset') }}">
        <script type="text/javascript" src="{{ asset('bundles/adyenpaymentshopware6/js/adyen.js', 'asset') }}"></script>
        <script>var adyenCheckoutConfiguration = document.querySelector('#adyen-checkout-configuration').dataset;</script>
    {% endif %}
{% endblock %}
