<div id="adyen-express-checkout">
    <div id="adyen-express-checkout-options"
         data-payment-status-url="{{ adyenFrontendData.paymentStatusUrl }}"
         data-checkout-order-url="{{ adyenFrontendData.checkoutOrderUrl }}"
         data-checkout-order-express-url="{{ adyenFrontendData.checkoutOrderExpressUrl }}"
         data-express-checkout-config-url="{{ adyenFrontendData.expressCheckoutConfigUrl }}"
         data-payment-handle-url="{{ adyenFrontendData.paymentHandleUrl }}"
         data-payment-handle-express-url="{{ adyenFrontendData.paymentHandleExpressUrl }}"
         data-payment-details-url="{{ adyenFrontendData.paymentDetailsUrl }}"
         data-payment-finish-url="{{ adyenFrontendData.paymentFinishUrl }}"
         data-payment-error-url="{{ adyenFrontendData.paymentErrorUrl }}"
         data-cancel-order-transaction-url="{{ adyenFrontendData.cancelOrderTransactionUrl }}"
         data-express-checkout-update-paypal-order-url="{{ adyenFrontendData.expressCheckoutUpdatePaypalOrderUrl }}"
         data-country-code="{{ adyenFrontendData.countryCode }}"
         data-amount="{{ adyenFrontendData.amount }}"
         data-currency="{{ adyenFrontendData.currency }}"
         data-payment-methods-response="{{ adyenFrontendData.paymentMethodsResponse }}"
         data-user-logged-in="{{ adyenFrontendData.userLoggedIn }}"
         data-affiliate-code="{{ adyenFrontendData.affiliateCode }}"
         data-campaign-code="{{ adyenFrontendData.campaignCode }}"
         data-shipping-methods-response="{{ adyenFrontendData.shippingMethodsResponse|json_encode }}"
         data-google-merchant-id="{{ adyenFrontendData.googleMerchantId }}"
         data-gateway-merchant-id="{{ adyenFrontendData.gatewayMerchantId }}"
    ></div>
    {% set adyenExpressCheckoutPaymentTypes = ['applepay', 'paywithgoogle', 'paypal'] %}
    {% for adyenPaymentMethodType in adyenExpressCheckoutPaymentTypes %}
        <div class="adyen-express-checkout-element"
             id="adyen-express-checkout-{{ adyenPaymentMethodType|escape }}">
            <input type="hidden" class="adyen-type" name="adyen-type"
                   value="{{ adyenPaymentMethodType|escape }}">
        </div>
    {% endfor %}
    <script>
        var adyenExpressCheckoutOptions = document.querySelector('#adyen-express-checkout-options').dataset;
    </script>
</div>