<div id="adyen-checkout-configuration"
     data-locale="{{ page.adyenData.locale }}"
     data-origin-key="{{ page.adyenData.originKey }}"
     data-environment="{{ page.adyenData.environment }}"
     data-payment-methods-response="{{ page.adyenData.paymentMethodsResponse }}"
></div>
<script type="text/javascript" src="{{ asset('bundles/adyenpayment/js/bundle.js') }}"></script>
<script>
    var adyenCheckoutConfiguration = document.querySelector('#adyen-checkout-configuration').dataset;
</script>
