{% set adyenFrontendData = page.extensions[constant('Adyen\\Shopware\\Subscriber\\PaymentSubscriber::ADYEN_DATA_EXTENSION_ID')] %}
{% if adyenFrontendData and adyenFrontendData.locale and (adyenFrontendData.originKey or adyenFrontendData.clientKey) and adyenFrontendData.environment and adyenFrontendData.paymentMethodsResponse %}
    <div id="adyen-checkout-configuration"
         data-locale="{{ adyenFrontendData.locale }}"
         data-client-key="{{ adyenFrontendData.clientKey }}"
         data-environment="{{ adyenFrontendData.environment }}"
         data-payment-methods-response="{{ adyenFrontendData.paymentMethodsResponse }}"
    ></div>
    <script type="text/javascript" src="{{ asset('bundles/adyenpaymentshopware6/js/bundle.js') }}"></script>
    <script>
        var adyenCheckoutConfiguration = document.querySelector('#adyen-checkout-configuration').dataset;
    </script>
{% endif %}
